
.wrapper{
  max-width: 1440px;
  
  margin: 0 auto;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

body{
font-family: 'Inter', sans-serif;
font-style: normal;
font-size: 20px;
line-height: 50px;
font-weight: 400, Regular;
color: #fff;
}

.header_wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;

}

.header_list{
  display: flex;
  flex-wrap: wrap;
}

.header_item{
  margin-right: 30px;
}

.header_item:last-child{
  margin-right: 0;
}

.header_link{
  font-size: 20px;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
}

.header_link:hover, .header_link:focus, .header_link:active{
  opacity: .75;
}




.intro{
  min-height: 100vh;
  background: url(../img/bg.png) no-repeat center;
  background-size: cover;
  padding-top: 290px;
}

.name{
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  max-width: 500px;
  margin-bottom: 10px;
}
.alexa_info{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  max-width: 470px;
  margin-bottom: 25px;
}

.hire-me_submit{
  padding: 8px 72px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 55px;
  color: black;
  background-color: #BDAE82;
  border: 0;
}

.hire-me_submit:active{
  color: #fff;
}




.skills_title{
  color: #BDAE82;
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  padding: 100px 644px 302px 644px;
}

.skills_wrap{
  width: 1440px;
background-color: black;
margin: 0 auto;
}

.skills_cards{
  height: 482;
}

